* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  background-color: aliceblue;
  padding: 50px 10%;
}

.todo {
  min-width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  border-radius: 2px;
}

.todo-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 3%;
}

.todo-title a {
  text-decoration: none;
  color: inherit;
}

.todo-new-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 3%;
}

.todo-new-item input {
  width: 85%;
  border: none;
  font-size: inherit;
  font-style: italic;
  color: green;
}

.todo-new-item input:focus {
  outline: none;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-list-label {
  display: flex;
  padding: 3%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.todo-list-label p {
  cursor: pointer;
}

.todo-list-label:hover {
  background-color: #e5e5e5;
}

.input-text {
  border: none;
  background-color: transparent;
  text-align: left;
  outline: none;
  height: 100%;
  width: 100%;
  font-size: inherit;
}

input[type='checkbox']:checked + .input-text {
  text-decoration: line-through;
}

.todo-clear-all-completed {
  padding: 3%;
  text-align: center;
  cursor: pointer;
  background-color: #e5e5e5;
}

.closure-button {
  cursor: pointer;
  filter: invert(0%);
  width: 20px;
}

.closure-button:hover {
  filter: invert(100%);
}

.select-all {
  cursor: pointer;
}

.select-all:hover {
  filter: invert(50%);
}

.image-plus {
  cursor: pointer;
}

.image-plus:hover {
  filter: invert(50%);
}
